# docker-compose -f LNX-docker-compose.yml --env-file LNX.env up --build --exit-code-from app
version: '2.2'
x-net: &net
  networks:
    - main
services:
  db:
    <<: *net
    image: datajoint/mysql:${MYSQL_TAG}
    environment:
      - MYSQL_ROOT_PASSWORD=simple
  minio:
    <<: *net
    environment:
      - MINIO_ACCESS_KEY=datajoint
      - MINIO_SECRET_KEY=datajoint
    image: minio/minio:$MINIO_VER
    # ports:
    #   - "9000:9000"
    # To persist MinIO data and config
    # volumes:
    #   - ./minio/data:/data
    #   - ./minio/config:/root/.minio
    command: server /data
    healthcheck:
      test: ["CMD", "curl", "--fail", "http://minio:9000/minio/health/live"]
      timeout: 5s
      retries: 60
      interval: 1s
  fakeservices.datajoint.io:
    <<: *net
    image: raphaelguzman/nginx:v0.0.8
    environment:
    - ADD_db_TYPE=DATABASE
    - ADD_db_ENDPOINT=db:3306
    - ADD_minio_TYPE=MINIO
    - ADD_minio_ENDPOINT=minio:9000
    - ADD_minio_PORT=80 # allow unencrypted connections
    - ADD_minio_PREFIX=/datajoint
    - ADD_browser_TYPE=MINIOADMIN
    - ADD_browser_ENDPOINT=minio:9000
    - ADD_browser_PORT=80 # allow unencrypted connections
    depends_on:
      db:
        condition: service_healthy
      minio:
        condition: service_healthy
  app:
    <<: *net
    environment:
    - DISPLAY
    - MATLAB_LICENSE
    - MATLAB_USER
    - DJ_HOST=fakeservices.datajoint.io
    - DJ_USER=root
    - DJ_PASS=simple
    - DJ_TEST_HOST=fakeservices.datajoint.io
    - DJ_TEST_USER=datajoint
    - DJ_TEST_PASSWORD=datajoint
    - S3_ENDPOINT=fakeservices.datajoint.io
    - S3_ACCESS_KEY=datajoint
    - S3_SECRET_KEY=datajoint
    - S3_BUCKET=datajoint.test
    image: raphaelguzman/matlab:${MATLAB_VERSION}-MIN
    depends_on:
      fakeservices.datajoint.io:
        condition: service_healthy
    user: ${MATLAB_UID}:${MATLAB_GID}
    working_dir: /src
    command: > 
      /bin/bash -c "
        matlab -nodisplay -r \"\
            addpath('/src/tests');\
            try res=run(Main), catch ME, disp(ME.identifier),disp(ME.message),exit(1),end;\
            disp(res);\
            if all([res.Passed])  exit, else exit(1), end;\
          \";
      "
    mac_address: $MATLAB_HOSTID
    volumes:
      - .:/src
      - /tmp/.X11-unix:/tmp/.X11-unix:rw
networks:
  main: